@{
    ViewData["Title"] = "Add Movie";
}


@model mission06_mitchski.Models.Movie

<div class="text-center">
    <h1 class="display-4">Enter a movie</h1>
        <form method="post">
            <div>
                <label asp-for="Category">Category</label>
                <input asp-for="Category" /><br />

                <label asp-for="Title">Title</label>
                <input asp-for="Title" /><br />

                <label asp-for="Year">Year</label>
                <input asp-for="Year" /><br />

                <label asp-for="Director">Director</label>
                <input asp-for="Director" /><br />

                <label asp-for="Rating">Rating</label>

                <select asp-for="Rating">
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                </select><br />
                <!--
                    Not sure how to do this with the asp tag helpers
                    Check out this link to learn more https://learn.microsoft.com/en-us/aspnet/mvc/overview/older-versions/working-with-the-dropdownlist-box-and-jquery/using-the-dropdownlist-helper-with-aspnet-mvc
                -->
                <!--<input asp-for="Rating" /><br />-->

                <label asp-for="Edited">Edited</label>
                <input asp-for="Edited" /><br />

                <label asp-for="LentTo">Lent to</label>
                <input asp-for="LentTo" /><br />

                <label asp-for="Notes">Notes</label>
                <input asp-for="Notes" /><br />

                <div asp-validation-summary="All"></div>

                <input type="submit" name="Enter" value="Enter" />
            </div>
    </form>
</div>